<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>SignIn</title>
</head>
<body style="height: 100vh;">
    <div class="container d-flex justify-content-center align-items-center h-100 w-25">
        <div class="card shadow">
            <img src="https://thumbs.dreamstime.com/b/video-conferencing-virtual-meeting-desktop-computer-colleagues-group-office-teamwork-friends-meet-software-e-learning-chat-195269697.jpg"
                alt="" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">SignIn</h5>
                <form action="/signIn" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success btn-block" style="width: 100%;">SignIn</button>
                </form>

            </div>
        </div>
            </div>
        </div>
    </div>
</body>
</html>