<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/galaxy.png">
    <link href ='../popper.min.js'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>NOVA</title>

    <style>
      .copyIcon:active{
        transform: translateY(4px);
      }
    </style>
</head>
<body style="height: 100vh;">
    
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-center" >
          <h6 style="color: ivory;" >NOVA</h6>
      </div>
    </nav>
    <div class="container d-flex justify-content-center align-items-center h-100" style="width: 30%;">
      <div class="card shadow">
          <img src="https://thumbs.dreamstime.com/b/video-conferencing-virtual-meeting-desktop-computer-colleagues-group-office-teamwork-friends-meet-software-e-learning-chat-195269697.jpg"
              alt="" class="card-img-top" />
          <div class="card-body">
              <div class="meetingInfo">
              <h4 class="card-title text-center">Live interactive Whiteboard room created</h4>
                <div class="mt-5">
                  <h5>Share this link for others to join the room</h5>
                  <h6 class="mt-5">Room link</h6>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control code" id="codeDisplay" readonly placeholder= "https://evening-brushlands-56347.herokuapp.com/whiteBoard/<%= uid %> ">
                    <span class="input-group-text copybtn" data-bs-toggle="tooltip" data-bs-placement="top"  title="copy" style="cursor: pointer;">
                      <img onclick="copy()" class = "copyIcon" src="https://img.icons8.com/color/30/000000/copy--v2.png"/>
                    </span>
                  </div>
                </div>
                <button class="btn btn-success btn-block" style="width: 100%;" onclick="joinRoom()">Join Now</button>
              </div>
          </div>
      </div>
    </div>
<script>
    const uid = '<%- uid %>';
</script>
<script src="/whiteboard/createWhiteBoard.js"></script>
</body>
</html>