<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/galaxy.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>NOVA</title>

    <style>
        body{
            background-image: url('/images/cool-background-3.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .navbar{
          background: transparent;
        }

    </style>
</head>
<body style="height: 100vh;">
    <nav class="navbar navbar-dark">
        <div class="container-fluid d-flex justify-content-center" >
            <h6 style="color: ivory;" >NOVA</h6>
        </div>
      </nav>
    <div class="container d-flex justify-content-center align-items-center h-100 w-25">
        <div class="card shadow">
            <img src="https://thumbs.dreamstime.com/b/video-conferencing-virtual-meeting-desktop-computer-colleagues-group-office-teamwork-friends-meet-software-e-learning-chat-195269697.jpg"
                alt="" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title text-center">Join a meeting</h5>
                <div class="my-5">
                    <label class="form-label" for="code">Meeting code</label>
                    <input class="form-control" type="text" id="code" name="code" required>
                </div>
                <button class="btn btn-primary btn-block" style="width: 100%;" onclick="joinMeeting()">Join</button>
            </div>
        </div>
            </div>
        </div>
    </div>

    <script src="/calls/joinCall.js"></script>
</body>
</html>